# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store
desktop.ini

# IDE
.vscode/
.idea/

# Model weights (comment out if you want to include them)
# models/*.h5
